<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="castle"
             type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <castle>
    <components>

      <component id="EventStore"
               service="Eventing.Store.IEventStore, Eventing"
               type="EventStoreSQL.EventStore, EventStoreSQL" >
        <parameters>
          <m_conn>${Connection}</m_conn>
        </parameters>
      </component>




      <component id="Connection"
             type="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             service="System.Data.IDbConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" lifestyle="Thread">
        <parameters>
          <connectionString>Data Source=.\SQLExpress;Initial Catalog=gymmember;Persist Security Info=True;User ID=sa;Password=stefan;MultipleActiveResultSets=True</connectionString>
        </parameters>
      </component>






      <component id="dbconnreportdatabase"
             type="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             service="System.Data.IDbConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" lifestyle="Thread">
        <parameters>
          <connectionString>Data Source=sql1;Initial Catalog=urlstore2;Persist Security Info=True;User ID=sa;Password=stefan;MultipleActiveResultSets=True</connectionString>
        </parameters>
      </component>



    </components>


  </castle>


  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Green" />
      </mapping>

      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>


    <appender name="ColoredConsoleAppenderCommand" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO" />
        <foreColor value="Yellow, HighIntensity" />
        <backColor value="Purple" />
      </mapping>

      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>



    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>




    <root>
      <level value="ERROR"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <logger name="CommandHandler" additivity="false" >
      <level value="INFO" />
      <appender-ref ref="ColoredConsoleAppenderCommand"/>
    </logger>


  </log4net>

</configuration>
